.header {
  display: flex;
  justify-content: space-between;
}

.portfolio-coins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.net-value {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border: 1px solid gray;
}